{% extends "template.twig" %}
{% block header %}
    <title>Send crypto</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <body style="background: #020248">
    <br>

    <h1 style="color: white; text-align: center; font-size: xx-large; font-weight: bold">Send coins to friend
        form</h1>
    <br>

    <div class="container">
        {% set rowCount=1 %}

        {% for coin in wallet %}
            {% if rowCount==1 %}
                <div class="row">
            {% endif %}

            {% if coin.count>0 %}
                <div class="card text-black bg-light mb-3 mt-3 ml-3 mr-3 shadow-xl" style="width: 150px; height:200px">
                    <div class="card-header" style="font-weight: bold">{{ coin.symbol }}: {{ coin.count }}</div>
                    <div class="card-body">
                        <p class="card-text"><img src="{{ coin.logo }}" alt="Logo doesn`t exist."></p>
                    </div>
                    <form action="/send/{{ coin.symbol }}" style="text-align: center">
                        <br>
                        <br>
                        <button class="font-bold text-white rounded"
                                style="width: 100px; height:50px; background: linear-gradient(to bottom, #FDFEFE, #03034E); ">
                            Send crypto
                        </button>

                    </form>
                </div>

                {% set rowCount=rowCount+1 %}
            {% endif %}

            c            {% if rowCount>5 %}
            {% set rowCount=1 %}

            </div>
        {% endif %}

        {% endfor %}

    </div>


    <form action="/" style="text-align: center">
        <br>
        <br>
        <button class="font-bold text-white rounded"
                style="width: 100px; height:50px; background: linear-gradient(to bottom, #FDFEFE, #03034E); ">
            To the start
        </button>

    </form>
    <br>
    </body>
{% endblock %}